# --- Environment & Configuration ---
dotenv==0.9.9
python-dotenv==1.1.0    

# --- HTTP & API ---
requests==2.32.3

# --- Database ---
SQLAlchemy==2.0.40      
psycopg2-binary==2.9.10
pymysql==1.1.2

# --- Data ---
pandas==2.3.3
openpyxl==3.1.5

# --- SIMULATIONS ---
faker==37.5.3
tqdm==4.66.5  