services:
  csv_to_client:
    build:
      context: ../../../..                    
      dockerfile: service/gamma/etl/service_create_empty_table/Dockerfile
    container_name: service_create_empty_table
    env_file:
      - .env
    environment:
      PYTHONPATH: /app              
      ENV_MODE: docker
      SERVICE_NAME: service_create_empty_table
    volumes:
      - ./app:/app/app   
      - ../../../../../../res:/app/res  
    networks:
      - gamma_network                    
    command: ["python", "app/main.py"]
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 1          
        window: 30s

networks:
  gamma_network:
    external: true