# Ignore PBI temporary files
**/.pbi/localSettings.json
**/.pbi/cache.abf

# Ignore environment and cache files
.env
.env.local 
.env.prod
.venv
**/__pycache__**
logs/
systemd/pid

# Ignore editor and session-specific files
.vscode
nohup.out