services:
  client_to_client:
    build:
      context: ../../../..                    
      dockerfile: service/gamma/etl/service_client_to_client/Dockerfile
    container_name: gamma_client_to_client
    env_file:
      - .env
    environment:
      PYTHONPATH: /app              
      ENV_MODE: docker
      SERVICE_NAME: service_client_to_client
    volumes:
      - ./app:/app/app   
      - ../../../../../../res/gamma/csv:/app/res/gamma/csv  
    networks:
      - gamma_network                    
    command: ["python", "app/main.py"]
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 1          
        window: 30s

networks:
  gamma_network:
    external: true