services:
  csv_to_client:
    build:
      context: ../../../..                    
      dockerfile: service/gamma/etl/service_create_table_views_from_sql/Dockerfile
    container_name: service_create_table_views_from_sql
    env_file:
      - .env
    environment:
      PYTHONPATH: /app              
      ENV_MODE: docker
      SERVICE_NAME: service_create_table_views_from_sql
    volumes:
      - ./app:/app/app   
      - ../../../../../../res/gamma/csv:/app/res/gamma/csv  
    networks:
      - data_network                    
    command: ["python", "app/main.py"]
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 1          
        window: 30s

networks:
  data_network:
    external: true